!!!

html
  head
    title zachman framework sample template
    link(rel='stylesheet',href='css/main.css',type='text/css',media='all')
    script(type='text/javascript',src='jst/lib/jquery-1.9.1.min.js')
    script(type='text/javascript',src='jst/main.js')
  body
    .header header content
    .container
      block content
    .footer footer content
