!!!

html
  head
    title Dolby Puts You On The Red Carpet
    meta(property='fb:appid',content=_C.FB_APPID)
    link(rel='stylesheet',href='/css/main.css',type='text/css',media='all')
    script(type='text/javascript',src='/jst/lib/jquery-1.8.2.js')
    script(type='text/javascript',src='/jst/main.js')
  body
    .container
      block content
    .fb-root
    script
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '#{_C.FB_APPID}',
          cookie     : true,
          xfbml      : true,
          oauth      : true
        });
        _.i();
      };

      (function(d){
         var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         d.getElementsByTagName('head')[0].appendChild(js);
       }(document));
